<div class="dialog">
  <div class="close">

  </div>
  <div class="title">
    Filters
  </div>
  <div class="subtitle destination">
    <img src="/assets/location.png"> Destination
    <div class="autocomplete">
      <input type="text" id="search" (keyup)="onSelectedOption($event)"
       placeholder="Type a destination" style="margin:auto; width: 70%; margin-top: 30px;">
      <ul id="myUL">
        <li *ngFor="let res of cities" (click)="chooseCity(res.city)"> {{res.city}}, {{res.country}}</li>

      </ul>

    </div>
  </div>
  <div class="subtitle dates">
    <div class="title-img"><img src="/assets/calendar-icon.png">Dates</div>
    <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Choose a start date">
        <mat-datepicker-toggle matSuffix [for]="picker1" (selectedChanged)="updateStartDate($event)"></mat-datepicker-toggle>
        <mat-datepicker #picker1 (selectedChanged)="updateEndDate($event)"></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Choose an end date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 ></mat-datepicker>
      </mat-form-field>
  </div>
  <div class="subtitle price">
    <img src="/assets/tag-icon.png"> Price Range
    <ng5-slider   (userChange)="onRangeChange($event)" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
  </div>
  <div class="subtitle people">
    <img src="/assets/user-icon.png"> People
    <mat-form-field>
      <mat-select (change)="onChange($event)" matNativeControl required>
          <mat-option *ngFor="let num of pepole" [value]="num"> {{num}}</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div [routerLink]="['/explore']" class="bth-next">
    Explore
  </div>

</div>