
  <div class="container">
    <div class="header">
      <div class="side-bar">
  
      </div>
      <div class="title">{{this.user.fullName}}</div>
      <div class="edit-profile">
        <div class="saved">
          <div class="number-saved">
            0
          </div>
          SAVED 
        </div>
        <div class="profile-details">
          <div class="icon">
  
          </div>
        </div>
        <div class="trips">
          <div class="number-trips">
            {{this.user.trips.length}}
          </div>
          TRIPS
        </div>
        <div class="edit-bth">
  
        </div>
  
      </div>
    </div>
    <div class="container-trips">
      TRIPS
      <div class="planned-trips">
          <div class="trip" *ngFor="let trip of tripService.user.trips; let i=index" (click)="chooseTrip(i)" >
              <div class="picture">
                <img src="{{trip.pictures[0]}}">
              </div>
              <div class="name">{{trip.destination}}</div>
              <div class="details">
                <span>{{trip.days}}</span><span>DAYS</span>
                <span><img src="/assets/location.png">{{trip.places.length}}</span>
              </div>
      
              <div class="day">
               <span> 04 </span><span>September</span>
              </div>
              <div class="line"></div>
            </div>
      </div>
      <div *ngIf="tripService.user.trips.length == 0">
        No trips planned, Let's explore new trips!
      </div>
    </div>
    <div class="placeholder-bth" [routerLink]="['/choose']">
        <span class="tooltiptext">Explore trips</span>
    <button class="explore-bth">
       <img src="/assets/explore-icon.png">
       
</button>
</div>
  </div>
