* {
    font-family: Roboto-Regular;
}
@media screen and (max-width: 800px) {
    .container {
        background-color: #FE784D;
        width: 100%;
        height: 100vh;
        .logo-placeholder {
            margin: 0 auto;
            width: 100%
        }
        .logo {
            background: url(/assets/TravelMaker.png) scroll -66px 0px;
            width: 100%;
            height: 75vh;
            background-repeat: no-repeat;
        }
        .bth {
            background-color: white;
            width: 30%;
            height: 40px;
            margin: 0 auto;
            border-radius: 7px;
            padding-top: 10px;
            font-size: 18px;
            text-align: center;
            -webkit-filter: drop-shadow(2px 2px 2px #00000059);
            filter: drop-shadow(2px 2px 2px #00000059);
            span {
                color: #FF5347;
                font-family: Roboto-Black;
                margin-top: 3px;
            }
        }
        .google-plus{
            background: url('/assets/google-plus.png');
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
        }
        .facebook{
            background: url('/assets/facebook-logo-button.png');
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
        }
    }
}

