<div class="container">
    <div class="logo-placeholder">
        <div class="logo"></div>
        <div class="sign-up">Sign Up</div>
        <div class="g-signin2" data-onsuccess="onSignIn()">

        </div>
        <div class="placeholder-google">
            <div class="google-plus">

            </div>
        </div>
        <div (click)="login(false)" class="bth" [routerLink]="['/trip']">
            <span >I'ii use email</span>
        </div>
        <div class="login">Already have account?<span (click)="login(true)">Login</span></div>
    </div>
</div>