<div class="container">
    <div class="logo-placeholder">
        <div class="logo"></div>
        <div>Sign Up</div>
        <div class="google-plus" (click)="signInWithGoogle()">

        </div>
        <div class="facebook" (click)="signInWithFB()">

        </div>
        <div class="bth" [routerLink]="['/trip']">
            <span>I'ii use email</span>
        </div>
        <div class="login">Already have account?<span>Login</span></div>
    </div>
    <img src="{{ user.photoUrl }}">
    <div>
        <h4>{{ user.name }}</h4>
        <p>{{ user.email }}</p>
    </div>
</div>