.container {
    .top {
        width: 100%;
        padding-top: 20px;
        height: 50%;
        background: linear-gradient(to right, #FE784D, #FF5347);
        color: white;
    }
    .back {
        display: inline-block;
        margin-top: 29px;
        margin-left: 30px;
    }
    .title {
        font-size: 14px;
        font-weight: bold;
        margin-left: 30%;
        display: inline-block;
        margin-bottom: 7%;
    }
    .bth-filter {
        text-align: right;
        display: inline-block;
        margin-left: 23%;
    }
    .trips {
        padding-top: 30px;
        height: 100vh;
        background-color: #F7F7F7;
        .trip-card {
            border-radius: 5px;
            padding: 10px;
            background-color: white;
            width: 90%;
            margin: 0 auto;
            box-shadow: 0px 2px 6px #00000059;
            margin-bottom: 30px;
        }
        .title-card {
            color: black;
            font-size: 17px;
            font-weight: bold;
            display: inline-block;
            align-content: top;
            padding-top: 10px;
            vertical-align: top;
            padding-left: 17px;
        }
        .details {
            color: #4F4E4F;
            font-weight: bold;
            display: block;
            margin-left: 10px;
            font-size: 14px;
            margin-top: 10px;
            span:first-child {
                color: #FF5347;
                margin-right: 5px;
            }
            span:last-child,
            span:nth-child(3) {
                margin-left: 10px;
                img {
                    margin-right: 5px;
                    vertical-align: bottom;
                }
            }
        }
    }
}
.slides {
    padding: 3px;
}
button{
    --background: #FE774D;
    --background-activated: #C6C6C6;
    --padding-bottom:20px;
    filter: drop-shadow(2px 2px 2px #00000059);
    color:white;
    font-size: 20px;
    width: 30%;
    border-radius: 0;
    margin: 0 auto;

  }
  .explore-trip {
    width: 92%;
    height: 201pt;
    margin: 18pt auto;
    display: flex;
    position: relative;
    flex-flow: column;
    border-radius: 5pt;
    background: white;
    box-shadow: 0pt 3pt 6pt rgba(0, 0, 0, 0.16);
    & .save {
      position: absolute;
      right: 5%;
      font-size: 23pt;
      bottom: 20pt;
      z-index: 10;
      color: rgba(193, 193, 193, 1);
      border: rgba(167, 167, 167, 1);
    }
  
    & .trip-info {
      position: relative;
      left: 2%;
      top: 47pt;
  
      & .trip-name {
        position: absolute;
        bottom: -1pt;
        font-family: "Roboto";
        font-size: 16pt;
        left: 9pt;
        width: 150pt;
        font-weight: bold;
      }
      & .info {
        position: relative;
        top: 13pt;
        & .days-container {
          position: absolute;
          bottom: -3px;
          left: 10pt;
  
          & .number {
            position: relative;
            top: 28pt;
            font-size: 13pt;
            font-family: "Roboto";
            font-weight: bold;
            color: #ff4357;
          }
  
          & .days {
            position: relative;
            left: 12pt;
            top: 1pt;
            font-size: 12pt;
            font-weight: bold;
            color: #4f4e4f;
          }
        }
  
        & .attractions-container {
          position: absolute;
          bottom: -3px;
          left: 70pt;
  
          & .location {
            position: relative;
            top: 30pt;
            font-size: 11pt;
            font-family: "Roboto";
            font-weight: bold;
            color: #ff4357;
          }
  
          & .attraction {
            position: relative;
            left: 12pt;
            top: 3pt;
            font-size: 13pt;
            font-family: "Roboto";
            font-weight: bold;
            color: #4f4e4f;
          }
        }
  
        .price-container {
          position: absolute;
          bottom: 22pt;
          left: 103pt;
  
          .icon {
            position: relative;
            top: 28pt;
            font-size: 12pt;
            font-family: "Roboto";
            font-weight: bold;
            color: #ff4357;
          }
  
          .price {
            position: relative;
            left: 10pt;
            top: 14pt;
            font-size: 12pt;
            font-weight: bold;
            color: #4f4e4f;
            font-family: "Roboto";
          }
        }
      }
    }
  
    .starred {
      color: #fece4d;
    }
  }
  .picture{
        position: relative;
        width: 94%;
        margin: 0 auto;
        height: 140pt;
        top: 9pt;
        background-size: cover !important;
        background-repeat: no-repeat !important;
      
  }
  .save{
    position: absolute;
    right: 5%;
    font-size: 23pt;
    bottom: 20pt;
    background-color: #FF5347;
    z-index: 10;
    color: #c1c1c1;
    border: 1px solid #FF5347;
    margin: 0 auto;
  }

