<div class="container">
  <div class="top">
    <div class="back" [routerLink]="['/trip']">
      <img src="/assets/left-arrow.png">
    </div>
    <div class="title">
      EXPLORE
    </div>
    <div class="bth-filter" [routerLink]="['/filter']">
      Filter
    </div>
  </div>
  <div class="trips">
    <!-- <div id="loader">

                  </div> -->

    <div class="trip-card" *ngFor="let trip of tripService.expolreTrips" (click)="chooseTrip(trip)">
            <div class="trip-container">
              <div
                class="picture" [ngStyle]="{'background': 'url(' + trip.pictures[0] + ')'}"></div>
              <div class="trip-info">
                <p class="trip-name" >
               {{trip.destination}}
                </p>
                <div class="info">
                  <div class="days-container">
                    <p class="number">{{trip.days}}</p>
                    <p class="days">DAYS</p>
                  </div>
                  <div class="attractions-container">
                    <p class="location">
                        <img src="/assets/location.png">2
                    </p>
                  </div>
                  <div class="price-container">
                    <div class="icon">
                    </div>
                    <div class="price">  {{trip.price}}</div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
    <div *ngIf="tripService.expolreTrips.length >0" class="save"><img src="/assets/bookmark.png">Book trip</div>
  </div>